article {
    height: 100vh;
    margin: 0 100px;
    padding: 2vw;
    flex: 1;
    overflow-y: scroll;
    background: $white;
    color: $comp2;
    opacity: .95;

    * {
        background: inherit;
        color: inherit;
    }

    h1 {
        color: $coffeetone;
    }

    h3 {
        padding: 10px;
        color: $comp2tone;
    }

    ol {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    li {
        padding: .7vh 1vh;
        margin-left: 1vw;
        // line-height: 1.2em;
    }
     p {
         font-style: italic;
         line-height: 1.2em;
     }

     .image {
         img {
            max-width: 100%;
         }
     }
}