nav {
    display: inline-block;
    position: relative;
    // left: -185px;
    // top: -100px;
    padding: 2vw;
    height: 100vh;

  .recipes {
    li {
        list-style: none;
        font-size: 1.75em;
    }
    li:hover {
        text-decoration: underline;
        cursor: pointer;
        font-size: 1.9em;
    }
  }
}