@import 'colors';
@import 'fonts';
@import 'nav';
@import 'main';

* {
    background: $black;
    font-family: $main-font;
    color: $white;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background: $comp2;

    h1, h3 {
        background: inherit;
        color: $comp2tone;
    }
}

main {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    background-image: url('../images/coffee.jpg');
    background-size: contain;
    min-height: 500px;
    max-height: 800vh;

    > * {
        border: 1px solid white;
    }
}

footer {
    display: block;
    background: $comp1;

    * {
        background: inherit;
    }
}