<article>
<h1>This will be the main window.</h1>
<p>Recipes and fun graphics(?) will go here:</p>
<ul>
    <li>Grind coffee to texture of coarse sea salt</li>
    <li>Heat water to 205&#8457;</li>
    <li>Wet paper filter to prevent sticking and papery taste</li>
    <li>Add grounds</li>
    <li>Pour hot water over grounds in swirling fashion</li>
    <li>Make sure to include gusto! Imagine if Salt Bae were making coffee.</li>
    <li>Drink while still molten lava hot to ensure maximum burnage.</li>
</ul>
</article>