<article>
<h1 id="name">This is the main window.</h1>
<h3>Overview</h3>
<p id="desc"></p>
<p id="inst"></p>
<h3>Steps</h3>
<ol id="steps">
    <!-- <li>Grind coffee to texture of coarse sea salt</li>
    <li>Heat water to 205&#8457;</li>
    <li>Wet paper filter to prevent sticking and papery taste</li>
    <li>Add grounds</li>
    <li>Pour hot water over grounds in swirling fashion</li>
    <li>Make sure to include gusto! Imagine if Salt Bae were making coffee.</li>
    <li>Drink while still molten lava hot to ensure maximum burnage.</li> -->
</ul>
</article>